@model UpdateCategoryDto 
@{
    ViewBag.Title = "title";
    Layout = "/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Kategori güncelle</h6>
                <form asp-action="UpdateCategory" method="post">
                    <div class="mb-3">
                        <label for="categoryName" class="form-label fw-bold">Kategori Adı</label>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" asp-for="CategoryName">
                    </div>
                    <div class="mb-3">
                        <label for="categoryStatus" class="form-label fw-bold">Kategori Durumu</label>
                        <select class="form-select" id="categoryStatus" name="categoryStatus">
                            <!option value="true" @(Model.CategoryStatus ? "selected" : String.Empty)>Aktif</!option>
                            <!option value="false" @(Model.CategoryStatus ? String.Empty : "selected")>Pasif</!option>
                        </select>
                    </div>
                    <input type="hidden" id="categoryId" name="categoryId" value="@Model.CategoryId">
                    <button class="btn btn-primary" type="submit">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>